#loader{
    background-color: #02040F;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader img{
    width: 100px;
    height: 100px;
}

.afterLoad{
        visibility: hidden;
        opacity: 0;
}

body {
    background-image: linear-gradient(45deg, #6830c38a, #80ffdba1);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Jura', sans-serif;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(45deg, #ffffff75, #ffffffcb);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
}

header #logoKontejner {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header #logoKontejner a #logo {
    width: 80px;
    height: 80px;
    transition: transform 1s;
}

header #logoKontejner a #logo:hover{
    transform: rotate(360deg);
}

header #navigace nav a {
    font-size: 20px;
    color: #252525;
    padding-bottom: 35px;
    border-bottom: 5px solid #252525;
    text-decoration: none;
    width: 100px;
    text-align: center;
}

header #navigace nav a:hover {
    font-size: 20px;
    color: #80ffdb;
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 5px solid #252525;
    text-decoration: none;
    width: 100px;
    text-align: center;
    background-color: #252525;
}

header #navigace nav {
    padding-top: 40px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    background-color: #b6ffea;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #6930c3, #80ffdb);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #80ffdb, #6930c3);
}

footer {
    margin-top: 30px;
    float: left;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(45deg, #ffffff75, #ffffffcb);
    backdrop-filter: blur(5px);
}

footer #infoFooter {
    display: flex;
    height: 270px;
}

footer #info {
    width: 33%;
    height: 250px;
}

footer #links {
    width: 66%;
    height: 250px;
    padding-right: 200px;
    padding-top: 20px;
    text-align: right;
    display: block;
}

footer #links h2 {
    font-size: 2em;
    color: #252525;
}

footer #links p {
    padding-top: 10px;
}

footer #links a {
    color: #252525;
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
}

footer #links a:hover {
    color: #840032;
}

footer #info #pageInfo {
    color: #252525;
    padding-left: 20px;
    padding-top: 20px;
}

footer #autor {
    height: 30px;
    display: flex;
}

footer #autor #copyright {
    width: 50%;
    height: 100%;
}

footer #autor #copyright #date {
    padding-left: 30px;
    color: #252525;
}

footer #autor #name {
    padding-right: 30px;
    width: 50%;
    color: #252525;
    text-align: right;
}

main{
    width: 1400px;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-image: linear-gradient(45deg, #ffffff75, #ffffffcb);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

main .nadpisy{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 3em;
}

.texty{
    font-size: 1.6em;
    padding: 20px;
}

li {
    list-style: none;
}

#mobileMenu{
    display: none;
}
#mobileNavBar{
    display: none;
}

@media(max-width: 1450px){
    main {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    main #basicInfo, main #education, main #activities {
        width: auto;
        height: auto;
        background-image: linear-gradient(
    45deg
    , #102e391c, #0026424d);
        color: #E59500;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media(max-width: 650px){

    main {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    #mobileMenu{
        z-index: 100;
        display: none;
        width: 300px;
        background-color: #02040F;
        color: #E59500;
        height: 400px;
        position: fixed;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        margin-top: -200px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #mobileMenu a{
        color: #E59500;
        font-size: 1.4em;
        text-decoration: none;
    }

    #mobileNavBar{
        background-image: linear-gradient(45deg, #ffffff75, #ffffffcb);
        display: block;
    }

    #mobileNavBar button{
        background-color: #02040F;
        border: none;
        font-size: 1.4em;
        color: #80ffdb;
        padding: 10px;
    }

    header{
        display: none;
    }


    footer {
        margin-top: 30px;
        float: left;
        width: 100%;
        height: 850px;
        background-color: #191B25;
    }
    
    footer #infoFooter {
        display: grid;
        height: 750px;
    }
    
    footer #info {
        width: 100%;
        height: 250px;
    }
    
    footer #links {
        width: 100%;
        height: 250px;
        padding-right: 0px;
        padding-top: 20px;
        text-align: center;
        display: block;
    }
    
    footer #links h2 {
        font-size: 2em;
        color: #252525;
    }
    
    footer #links p {
        padding-top: 10px;
    }
    
    footer #links a {
        color: #252525;
        font-size: 1.5em;
        font-weight: 800;
        text-decoration: none;
    }
    
    footer #links a:hover {
        color: #840032;
    }
    
    footer #info #pageInfo {
        color: #252525;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        
    }
    
    footer #autor {
        height: 30px;
        display: flex;
    }
    
    footer #autor #copyright {
        width: 50%;
        height: 100%;
    }
    
    footer #autor #copyright #date {
        padding-left: 30px;
        color: #252525;
    }
    
    footer #autor #name {
        padding-right: 30px;
        width: 50%;
        color: #252525;
        text-align: right;
    }
}
